<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UNC_UserName" value="thedaywefindlove"/>
		<add key="UNC_Password" value="Qu@yVega@tQuay2024"/>
		<add key="UNC_DataFolder" value="\\10.182.44.251\FindTheLuck$"/>
		<add key="Machine_UUID" value="77E60A42-1D80-61A4-413C-3E431B974B68"/>
		<add key="BinaryAccountFile" value="CRVEmployee.dat"/>
		<add key="EmailWhiteList" value="white-list.txt"/>
		<add key="PublicHolidays" value="public_holiday.txt"/>
		<add key="RootVacationFolder" value="\\10.182.44.251\party$"/>
	</appSettings>
</configuration>
